.App {
  height: 100vh;
  overflow: hidden;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.text-wrap {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-pointer{
  cursor: pointer;
}